<ol class="breadcrumb">
    <li><a ui-sref="scripts.list">Scripts</a></li>
    <li><a ui-sref="scripts.list_processes({scriptType: script.id})">{{script.name}}</a></li>
    <li><a ui-sref="process.show({processId: process.id})">{{process.name}}</a></li>
</ol>
<h1>{{process.name}}</h1>

<h3>Workers:</h3>
<table class="table">
    <thead>
        <th>Name</th>
        <th>Total</th>
        <th>Done</th>
        <th>Errors</th>
        <th>Discarded</th>
        <th>Finalized</th>
    </thead>
    <tbody>
        <tr ng-repeat="worker in workers">
            <td>{{worker}}</td>
            <td>{{processStats.workers[worker].total || 0}}</td>
            <td>{{processStats.workers[worker].done || 0}}</td>
            <td><a href="#" ui-sref="process.worker_errors({processId: process.id, workerId: worker})">{{processStats.workers[worker].errors || 0}}</a></td>
            <td>{{processStats.workers[worker].discarded || 0}}</td>
            <td><a href="#" ui-sref="process.worker_finalized({processId: process.id, workerId: worker})">{{processStats.workers[worker].finalized || 0}}</a></td>

        </tr>
    </tbody>
</table>

