<ol class="breadcrumb">
    <li>Supervisor</li>
</ol>
<h1>Supervisor Status</h1>
<button class="btn btn-primary" ng-click="getStatus()">Refresh</button>
<div class="row">
    <div class="col-md-2">Last update:</div>
    <div class="col-md-2">{{updatedAt| date:'dd-MM-yyyy HH:mm:ss'}}</div>
</div>
<div class="row">
    <div class="col-md-2">Supervisor status:</div>
    <div class="col-md-2">{{supervisorStatus}}</div>
</div>
<table class="table">
    <thead>
        <th>Process name</th>
        <th>Status</th>
        <th>Description</th>
        <th>Actions</th>
    </thead>
    <tbody>
        <tr ng-repeat="worker in data|orderBy: 'name'">
            <td>{{worker.name}}</td>
            <td>{{worker.statename|lowercase}}</td>
            <td>{{worker.description}}</td>
            <td>
                <button class="btn btn-success" ng-show="worker.statename == 'STOPPED' || worker.statename == 'FATAL'" ng-click="startProcess(worker.name)">Start</button>
                <button class="btn btn-danger" ng-show="worker.statename == 'RUNNING'" ng-click="stopProcess(worker.name)">Stop</button>
            </td>
        </tr>
    </tbody>
</table>

<h3 class="text-center" ng-if="loading">Loading...</h3>