<ol class="breadcrumb">
    <li><a ui-sref="workflows.list">Workflows</a></li>
    <li>{{workflow.name}}</li>
</ol>
<h1>{{workflow.name}}</h1>
<table class="table">
    <thead>
        <th>Date</th>
        <th>Instance name</th>
        <th>Status</th>
        <th>Running time</th>
    </thead>
    <tbody>
        <tr ng-repeat="workflowInstance in workflowInstances|orderBy: 'creation_time': true">
            <td>{{workflowInstance.creation_time_formatted}}</td>
            <td><a ui-sref="workflowInstance.show({workflowInstanceId: workflowInstance.id})">{{workflowInstance.name}}</a></td>
            <td>{{workflowInstanceStatus[workflowInstance.id].status}}</td>
            <td>{{workflowInstanceStatus[workflowInstance.id].runned_for |number:1}} secs</td>
        </tr>
    </tbody>
</table>

<h3 class="text-center" ng-if="loading">Loading...</h3>