<ol class="breadcrumb">
    <li><a ui-sref="workflows.list">Workflows</a></li>
    <li><a ui-sref="workflows.listWorkflowInstances({workflow: workflow.id})">{{workflow.name}}</a></li>
    <li>{{workflowInstance.name}}</li>
</ol>
<h1>{{workflowInstance.name}}</h1>
<div style="color: #AAA;">
    <p style="margin: 0">Started: <span title="{{workflowInstanceStats.start_time_human}}">{{workflowInstanceStats.start_time_formatted}}</span></p>
    <p style="margin: 0">Running time: <span title="{{workflowInstanceStats.update_time - workflowInstanceStats.start_time | number:1}} secs">{{workflowInstanceStats.update_time - workflowInstanceStats.start_time | readableTime}}</span></p>
</div>

<h3>Workers</h3>
<table class="table">
    <thead>
        <th>Name</th>
        <th>Total</th>
        <th>Done</th>
        <th>Errors</th>
        <th>Discarded</th>
        <th>Finalized</th>
    </thead>
    <tbody>
        <tr ng-if="workflowInstanceStats.workers['unknown']">
            <td>(unknown)</td>
            <td>-</td>
            <td>-</td>
            <td>
                <div>
                    <a href="#" ui-sref="workflowInstance.workerErrors({workflowInstanceId: workflowInstance.id, workerId: 'unknown'})">{{workflowInstanceStats.workers['unknown'].errors || 0}}</a>
                </div>
            </td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr ng-repeat="worker in workers">
            <td>
                {{worker}}
                <span ng-if="workflowInstanceStats.workers[worker].running" class="label label-success">Running</span>
                <span ng-if="!workflowInstanceStats.workers[worker].running && workflowInstanceStats.workers[worker].pending > 0" class="label label-default">Pending</span>
                <span ng-if="workflowInstanceStats.workers[worker].errors > 0" class="label label-danger">With errors</span>
                <br/>
                <div style="margin-left: 20px; color: #AAA">
                    average:
                    <span title="{{(workflowInstanceStats.workers[worker].average_time | number:3) || '?'}} sec">{{(workflowInstanceStats.workers[worker].average_time | readableTime) || '?'}}</span>
                    , total:
                    <span title="{{(workflowInstanceStats.workers[worker].total_time | number:3) || '?'}} sec">{{(workflowInstanceStats.workers[worker].total_time | readableTime) || '?'}}</span>
                </div>
            </td>
            <td>{{workflowInstanceStats.workers[worker].total || 0}}</td>
            <td>{{workflowInstanceStats.workers[worker].done || 0}}</td>
            <td>
                <div ng-show="workflowInstanceStats.workers[worker].errors">
                    <a href="#" ui-sref="workflowInstance.workerErrors({workflowInstanceId: workflowInstance.id, workerId: worker})">{{workflowInstanceStats.workers[worker].errors || 0}}</a>
                </div>
                <div ng-show="!workflowInstanceStats.workers[worker].errors">0</div>
            </td>
            <td>{{workflowInstanceStats.workers[worker].discarded || 0}}</td>
            <td>
                <div ng-show="workflowInstanceStats.workers[worker].finalized">
                    <a href="#" ui-sref="workflowInstance.workerFinalized({workflowInstanceId: workflowInstance.id, workerId: worker})">{{workflowInstanceStats.workers[worker].finalized || 0}}</a>
                </div>
                <div ng-show="!workflowInstanceStats.workers[worker].finalized">0</div>
            </td>

        </tr>
    </tbody>
</table>

<h3>Processes</h3>
<button class="btn btn-success" ng-click="supervisorStartAll()">Start all</button>
<button class="btn btn-danger" data-toggle="modal" data-target="#stopProcessModal">Stop all</button>

<div class="modal fade" id="stopProcessModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Stop workflow processes</h4>
            </div>
            <div class="modal-body">
                Are you sure?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" ng-click="supervisorStopAll()" data-dismiss="modal">Stop all</button>
            </div>
        </div>
    </div>
</div>

<table class="table">
    <thead>
        <th>Process name</th>
        <th>Status</th>
        <th>Description</th>
        <th>Actions</th>
    </thead>
    <tbody>
        <tr ng-repeat="worker in supervisorStatus|orderBy: 'name'">
            <td>{{worker.name}}</td>
            <td>{{worker.statename|lowercase}}</td>
            <td>{{worker.description}}</td>
            <td>
                <button class="btn btn-success" ng-show="['STOPPED', 'FATAL', 'EXITED'].indexOf(worker.statename) > -1" ng-click="startProcess(worker.name)">Start</button>
                <button class="btn btn-danger" ng-show="worker.statename == 'RUNNING'" ng-click="stopProcess(worker.name)">Stop</button>
            </td>
        </tr>
    </tbody>
</table>

<h3>Graph</h3>
<cytoscape cy-data="elements" cy-edges="edges"></cytoscape>

