<ol class="breadcrumb">
    <li><a ui-sref="workflows.list">Workflows</a></li>
    <li>{{workflow.name}}</li>
</ol>
<h1>{{workflow.name}}</h1>
<p>Showing page {{page}}</p>
<table class="table">
    <thead>
        <th>Date</th>
        <th>Instance name</th>
        <th>Status</th>
        <th>Running time</th>
    </thead>
    <tbody>
        <tr ng-repeat="workflowInstance in workflowInstances|orderBy: 'creation_time': true">
            <td title="{{workflowInstance.creation_time_human}}">{{workflowInstance.creation_time_formatted}}</td>
            <td><a ui-sref="workflowInstance.show({workflowInstanceId: workflowInstance.id})">{{workflowInstance.name}}</a></td>
            <td>{{workflowInstanceStatus[workflowInstance.id].status}}</td>
            <td title="{{workflowInstanceStatus[workflowInstance.id].runned_for |number:1}} secs">{{workflowInstanceStatus[workflowInstance.id].runned_for |readableTime}}</td>
        </tr>
    </tbody>
</table>

<h3 class="text-center" ng-if="loading">Loading...</h3>

<nav aria-label="Search instances pages" ng-hide="page == 1 && workflowInstances.length == 0">
  <ul class="pager">
    <li ng-show="page > 1"><a ui-sref="workflows.listWorkflowInstances({workflow: workflow.id, page: page - 1})">Previous</a></li>
    <li><a ui-sref="workflows.listWorkflowInstances({workflow: workflow.id, page: page + 1})">Next</a></li>
  </ul>
</nav>